body{
    margin:0 auto;
    background-color:#EFEFEF;
    font-family:Arial;
}

h1{
    color:#B63D32;
}
nav{
    background-color:#B63D32;
    height:auto;
    color:white;
    font-weight:bold;
    text-align:center;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #B63D32;
    margin-left:5%;

}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

li a:hover {
background-color: #8c2f26;
}
li:last-child {
    border-right: none;
}

.logonav{
    height:35px;
    margin-top:5px;
    margin-right:75px;
}

.contCentral{
    text-align:center;
}

.contNiveles{
    display: flex;
    flex-wrap: wrap;
    margin-left:15%;
    margin-right:15%;
    margin-bottom:10%;
}

.textoPrinc{
    margin-left:17%;
    margin-right:17%;
    font-weight:bold;
    color:DimGrey;
}

.imgNivel{
    width:150px;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:10px;
}

.titNivel{
    margin-top:0;
    font-weight:bold;
    border-radius: 8px 8px 0px 0px;
    background-color:DimGrey;
    color:white;
    padding-top:4%;
    padding-bottom:4%;
}

.nivelCompletado{
    background-color: #d9d9d9;
    width: auto;
    margin: 20px;
    text-align: center;
    border: 3px solid DimGrey;
    border-radius: 12px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.404);
}

.nivelIncompleto{
        background-color: #d9d9d9;
        width: auto;
        margin: 20px;
        text-align: center;
        border: 3px solid DimGrey;
        border-radius: 12px;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.404);
}

#tablaPuntos{
    border-collapse:collapse;
    border: 2px solid DimGrey;
    margin:0 auto;
    background-color:#d9d9d9;
    font-weight:bold;
    color:Black;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.404);

}

.th{
    color:#B63D32;
    border-collapse: collapse;
    border: 2px solid DimGrey;
}

.td,.tr{
    border-collapse: collapse;
    border: 1px solid DimGrey;

}

.form{
    background-color:#d9d9d9;
    margin-left:40%;
    margin-right:40%;
    margin-top:7%;
    border: 2px solid DimGrey;
    border-radius: 12px;
    font-weight:bold;
    color:DimGrey;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.404);
}

.input{
    margin-bottom:15px;
    margin-bottom:25px;
    display: inline-block;
}

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b63d32), color-stop(1, #8c2e26));
	background:-moz-linear-gradient(top, #b63d32 5%, #8c2e26 100%);
	background:-webkit-linear-gradient(top, #b63d32 5%, #8c2e26 100%);
	background:-o-linear-gradient(top, #b63d32 5%, #8c2e26 100%);
	background:-ms-linear-gradient(top, #b63d32 5%, #8c2e26 100%);
	background:linear-gradient(to bottom, #b63d32 5%, #8c2e26 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b63d32', endColorstr='#8c2e26',GradientType=0);
	background-color:#b63d32;
	border-radius:11px;
	border:1px solid #942911;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
    margin-bottom:30px;
}
.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #8c2e26), color-stop(1, #b63d32));
	background:-moz-linear-gradient(top, #8c2e26 5%, #b63d32 100%);
	background:-webkit-linear-gradient(top, #8c2e26 5%, #b63d32 100%);
	background:-o-linear-gradient(top, #8c2e26 5%, #b63d32 100%);
	background:-ms-linear-gradient(top, #8c2e26 5%, #b63d32 100%);
	background:linear-gradient(to bottom, #8c2e26 5%, #b63d32 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8c2e26', endColorstr='#b63d32',GradientType=0);
	background-color:#8c2e26;
}
.button:active {
	position:relative;
	top:1px;
}


label{
    display: inline-block;
    width: 250px;

}

#tiempo{
    font-size:30;

}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #8c2f26;
    color: white;
    font-weight:bold;
    text-align: center;
}